<h1>New Libraty</h1>

<%= render 'form', libraty: @libraty %>

<%= link_to 'Back', libraties_path %>

<%= form_for :libraty, url: libraties_path do |f| %>
  
<% end %>
 
<%= link_to 'Back', libraties_path %>